@include font-face("Luciole", Luciole-Regular)
@include font-face("Luciole", Luciole-Bold, $weight: bold)
@include font-face("Luciole", Luciole-Italic, $style: italic)
@include font-face("Luciole", Luciole-BoldItalic, $weight: bold, $style: italic)

// icons
@font-face
    font-display: block
    font-family: 'icon-site'
    font-style: normal
    font-weight: 400
    src: url('/assets/fonts/icons-site/icomoon.woff') format("woff")