$color-purple: #660080
$color-orange: #E65C00
    
$color-accent: $color-purple
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2
$color-border: $color-orange

$heading-font-family: "Miso", sans-serif
$body-font-family: "Inclusive Sans", sans-serif
$h1-line-height: 100%
$h1-size: pxToRem(36)
$h1-size-desktop: pxToRem(64)
$h1-text-transform: uppercase
$h2-size: pxToRem(30)
$h2-size-desktop: pxToRem(48)
$h2-text-transform: uppercase
$h3-line-height: 100%
$h3-size: pxToRem(24)
$h3-size-desktop: pxToRem(32)
$h3-text-transform: uppercase
$body-size: pxToRem(18)
$body-size-desktop: pxToRem(20)
$meta-size: pxToRem(18)
$meta-size-desktop: pxToRem(18)
$meta-text-transform: uppercase
$lead-hero-line-height: $h1-line-height
$lead-hero-size: $h1-size
$lead-hero-size-desktop: $h1-size-desktop
$lead-hero-text-transform: uppercase

$image-radius: pxToRem(16)

$btn-border-radius: pxToRem(8)
$btn-border-radius-desktop: $btn-border-radius
$btn-text-transform: uppercase
$footer-background-color: $color-background-alt
$footer-logo-height: pxToRem(100)
$footer-logo-height-desktop: pxToRem(100)
$header-background: none
$header-border-bottom-width: 0
$header-logo-height: pxToRem(50)
$header-logo-height-desktop: pxToRem(56)
$header-dropdown-full: true
$hero-background-color: none
$toc-font-family: $heading-font-family
$toc-title-font-family: $heading-font-family