.page__home
    main .blocks
        .block
            &:first-child
                border-bottom: 2px solid $color-orange
                padding-bottom: space(9)
                margin-bottom: space(9)
                @include media-breakpoint-up(desktop)
                    padding-bottom: $spacing-5
                    margin-bottom: $spacing-5
                &.block-pages--list
                    .block-title
                        @extend .sr-only
                    .top + .list
                        grid-row: 1
            &:not(:first-child).block-pages--list
                border-top: 2px solid $color-orange
                padding-top: space(9)
                @include media-breakpoint-up(desktop)
                    padding-top: $spacing-5

.page-contact
    .blocks
        .block:last-child:is(.block-call_to_action--accent_background)
            margin-bottom: -($spacing-5)

// taxonomies
.taxonomies-list--inline
    @include grid(1, md)
.taxonomies-list--inline .taxonomy-categories,
.taxonomies-single .terms
        > ul 
            display: flex
            flex-wrap: wrap
            gap: $spacing-2 $spacing-1
            li a 
                @include purple-button
        @include media-breakpoint-up(desktop)
            align-items: baseline
            display: flex
            gap: space(6)

.taxonomy-children,
[class$="-categories"]
    li a
        @include purple-button

.project, .post
    [class$="-categories"]
        row-gap: $spacing-2

// toc and sidebar
.section-sidebar
    @include in-page-with-sidebar
        margin-left: 0 !important
        aside
            margin-left: var(--grid-gutter)
        [class$="infos"]
            > li
                --color-border: #{alphaColor(var(--color-text), 0.3)}
                &:last-child
                    border-bottom: 1px solid var(--color-border)
    .share li a 
        padding: space(5)


// persons
.persons__page
    .hero
        figure picture
            border-radius: 0
.persons
    .person
        .avatar
            border-radius: 0

// persons & organization
.organizations__page,
.persons__page
    .contacts-details li > span
        color: var(--color-text-alt)
    .document-content .taxonomies-container .taxonomies-single
        &.organizations-taxonomies
        &.persons-taxonomies
            @include grid(1, md)
        .taxonomy-title
            color: var(--color-text-alt)
    [class$="-objects"]
        .more
            @include meta
            text-align: right
            text-decoration: none
            width: 100%
            &::after
                width: unset
                height: unset

// organizations
.organizations__page .document-content [itemprop="articleBody"] + .organization-logo img,
.block-organizations .organization img
    mix-blend-mode: multiply

// projects
.projects__page
    .hero
        .hero-text
            padding-bottom: 0
        .dropdown-share
            display: none
// projects list
.projects--grid
    .project
        @include media-breakpoint-down(desktop)
            .project-title + .project-summary
                margin-top: $spacing-2
            .media
                margin-left: 0
                margin-right: 0
                img
                    aspect-ratio: 1.277
            + .project
                margin-top: space(9)

// posts
.block-posts--list, .posts__section .posts--list, .posts_categories__term .posts--list, .persons__page .posts--list, .administrators__term .posts--list, .authors__term .posts--list, .researchers__term .posts--list, .teachers__term .posts--list, .persons__page .posts--list
    .post
        border-bottom-color: $color-orange
        margin-bottom: space(8)
        &:not(:last-child)
            padding-bottom: space(8)
        @include media-breakpoint-up(desktop)
            .post-meta
                position: relative
                right: unset
                max-width: unset
                text-align: left
                margin-top: space(4)
.block-posts--list,
.posts--list
    @include in-page-without-sidebar
        .post-title,
        [itemprop="abstract"]
            max-width: columns(8) !important
.block-posts--grid,
.posts--grid
    .media img
        aspect-ratio: 1.400
    @include media-breakpoint-down(desktop)
        .media img
            aspect-ratio: 1.277
        .post + .post
            margin-top: space(9)

.persons__page .posts--list
    .post:last-child
        padding-bottom: space(8)
