.page__home
    main .blocks
        .block
            &:first-child
                border-bottom: 2px solid $color-orange
                padding-bottom: $spacing-5
                margin-bottom: $spacing-5
                &.block-pages--list
                    .block-title
                        @extend .sr-only
                    .top + .list
                        grid-row: 1
            &:not(:first-child).block-pages--list
                border-top: 2px solid $color-orange
                padding-top: $spacing-5

// taxonomies
.taxonomies-list--inline
    @include grid(1, md)
.taxonomies-list--inline .taxonomy-categories,
.taxonomies-single .terms
        > ul 
            display: flex
            flex-wrap: wrap
            gap: $spacing-2 $spacing-1
            li a 
                @include purple-button
        @include media-breakpoint-up(desktop)
            align-items: baseline
            display: flex
            gap: space(6)

.taxonomy-children,
[class$="-categories"]
    li a
        @include purple-button

.project, .post
    [class$="-categories"]
        row-gap: $spacing-2

// toc and sidebar
.section-sidebar
    @include in-page-with-sidebar
        margin-left: 0 !important
        aside
            margin-left: var(--grid-gutter)
        [class$="infos"]
            > li
                --color-border: #{alphaColor(var(--color-text), 0.3)}
                &:last-child
                    border-bottom: 1px solid var(--color-border)
    .share li a 
        padding: space(5)


// persons
.persons
    .person
        .avatar
            border-radius: 0

.persons__page
    .hero
        figure picture
            border-radius: 0

// projects
.projects__page
    .hero
        .hero-text
            padding-bottom: 0
        .dropdown-share
            display: none

// posts

.block-posts--list, .posts__section .posts--list, .posts_categories__term .posts--list, .persons__page .posts--list, .administrators__term .posts--list, .authors__term .posts--list, .researchers__term .posts--list, .teachers__term .posts--list
    .post
        border-bottom-color: $color-orange
        margin-bottom: space(8)
        &:not(:last-child)
            padding-bottom: space(8)
        @include media-breakpoint-up(desktop)
            .post-meta
                position: relative
                right: unset
                max-width: unset
                text-align: left
                margin-top: space(4)
