

\:root
    @include media-breakpoint-up(desktop)
        body:not(.full-width)
            --heading-margin-bottom: #{$spacing-5}

// external links with icons
a[target="_blank"]:not(.icon, [rel="license noopener"])::after, 
.link[target="_blank"]:not(.icon)::after
    @include icon-site("icon-external")
    display: inline-block
    margin-left: space(2)

a
    text-decoration-color: var(--color-accent)
    text-decoration-thickness: 2px
    &::after
        color: var(--color-accent)

// header
header#document-header
    .menu
        // link as button for 'adhérer'
        a[href="/fr/adherer/"]
            @extend .btn
            @extend .button--accent
            --btn-min-width: 0
        .nav-level-2 li 
            a
                @include icon(arrow-right-line, after, true)
                    color: var(--color-accent)
                @include hover-translate-icon
                &, &:hover
                    text-decoration: none
    @include media-breakpoint-up(desktop)
        .menu
            margin-left: space(12)
            flex: 1
        .nav-level-1
            // nav horizontal spacings: 40px for left items, 24 for right ones
            li:nth-child(5)
                margin-left: auto
            .nav-search
                margin-left: $spacing-2
                .search-button span:first-of-type
                    display: none
            @include media-breakpoint-up(xl)
                li.has-children + li
                    margin-left: space(10)
                li:where(:not(.has-children)) + li,
                .nav-search
                    margin-left: space(6)
        .nav-level-2
            display: flex
            gap: space(6) var(--grid-gutter)
            flex-direction: column
            li + li
                margin-left: 0 !important
        // sticky menu behaviour
        html.has-menu-opened &,
        &.is-sticky
            a[href="/fr/adherer/"]
                &, &:hover
                    color: var(--btn-color)
    @include media-breakpoint-down(desktop)
        .primary-menu
            .header-button 
                span:last-of-type::before
                    color: var(--color-accent)
                    font-size: pxToRem(24)
                    margin-top: -2px
                &[aria-expanded="true"]
                    span:last-of-type::before
                        font-size: pxToRem(28)
        .nav-level-1 
            display: flex
            flex-direction: column
            margin-bottom: space(9)
            li
                > a
                    @include icon(arrow-right-line, after, true)
                        color: var(--color-accent)
                > span, > a, > button span
                    @include signature
                > span, > a, > button
                    padding-bottom: space(4)
                    padding-top: space(4)
                    &::after
                        font-size: pxToRem(20)
                &:not(:last-child)
                    border-color: $color-orange
                // purple btn
                &:nth-child(6)
                    order: 10
                    border: none
                    a[href="/fr/adherer/"]
                        color: var(--color-background)
                        width: 100%
        .nav-level-2 li
            > a, > span
                @include body-text
                padding-bottom: $spacing-2
                padding-top: $spacing-2
        .nav-level-1 li,
        .nav-level-2 li
            > a
                display: flex
                align-items: baseline
                justify-content: space-between

// hero
.hero
    border-bottom: 2px solid $color-orange
    .content
        hgroup.has-lead > p:first-of-type
            margin-top: $spacing-4
        .hero-actions > a
            --btn-border: 2px solid var(--color-accent)
            --btn-hover-background: #{alphaColor(var(--color-accent), 0.10)}
            --btn-hover-border: var(--btn-border)
            &::after
                color: var(--color-accent)
        @include media-breakpoint-up(desktop)
            padding-top: $spacing-4
            .hero-actions
                margin-top: $spacing-4
    &--image-portrait:where(:not(.has-breadcrumb-hero-end)),
    &--image-square:where(:not(.has-breadcrumb-hero-end))
        figure
            margin-bottom: 0
    @include media-breakpoint-down(desktop)
        margin-bottom: space(9)
        padding-bottom: space(9)

// footer
footer#document-footer 
    a:hover
        text-decoration: underline
        text-decoration-thickness: 2px
        text-decoration-color: var(--color-accent)
    a::after
        display: inline-block
    .footer-site div
        > * + *
            display: block
            margin-top: space()
    .nav-legal .footer-i18n,
    .footer-credit
        margin-top: space(6)
    .footer-credit
        color: var(--color-text-alt)
        a
            color: var(--color-text)
        > span
            display: block
            + span
                margin-top: $spacing-1
    .footer-social
        li 
            align-items: baseline
            a[target="_blank"]::after
                display: none
            &::after
                width: pxToRem(18)
                @include media-breakpoint-up(desktop)
                    font-size: 100%
                    margin-left: space(4) !important
            &.instagram::after
                @include icon-site("icon-instagram")
            &.facebook::after
                @include icon-site("icon-facebook")
            &.linkedin::after
                @include icon-site("icon-linkedin")
            &.youtube::after
                @include icon-site("icon-youtube")
                @include media-breakpoint-up(desktop)
                    font-size: 80%
    @include media-breakpoint-down(desktop)
        padding-bottom: space(9)
        padding-top: space(9)
        .container + .container,
        .footer-legals,
        .footer-site
            margin-top: space(9)
        .footer-social
            li::after
                text-align: center
                font-size: 1rem

// search
#search
    .pagefind-ui
        &__form::after
            color: var(--color-accent)
        &__search-input
            border-color: alphaColor($color-orange, 0.3)
            &:focus-visible
                border-width: 1px
                border-color: $color-orange
        &__result
            padding-bottom: space(8)
            margin-bottom: space(8)
            border-bottom: 1px solid $color-orange
            &-title
                @include icon(arrow-right-line, after)
                    color: var(--color-accent)
                    margin-left: space()
                @include hover-translate-icon
                a
                    text-decoration: none
// toc
.toc-container
    @include in-page-with-sidebar
        border-top: none !important
        .toc-content
            padding-left: space(3)
            margin-left: space(-3)

.toc-content
    nav
        a
            @include signature
            position: relative
            &::before
                content: ''
                width: 2px
                height: 100%
                position: absolute
                left: 0
                transform: translateX(space(-3))
            &.active::before,
            &:hover::before
                background: var(--color-accent)
            &, &:hover
                text-decoration: none !important

// breadcrumb
.breadcrumb-nav
    li[aria-current="page"]::before
        color: alphaColor(var(--color-accent), 0.8)

// pagination
.pagination
    li a
        line-height: pxToRem(44) !important
    li:not(.active, .disabled) a:hover
        background-color: alphaColor(var(--color-accent), 0.1)
    .active
        background-color: alphaColor(var(--color-accent), 0.2)
        a
            color: var(--color-text)
    @include media-breakpoint-up(desktop)
        margin-top: space(8)
        li:nth-child(2)
            margin-right: auto
        li:nth-last-child(2)
            margin-left: auto

// navigation
.block-siblings-navigation
    .siblings-navigation
        border-top-color: $color-orange
    ul > li a
        @include body-text
        span::before,
        span::after
            color: var(--color-accent)

.document-content nav
    .pagination
        border-top: 1px solid $color-orange
        padding-top: space(8)

// contact details
.contacts-details
    li a
        text-decoration-color: var(--color-accent)
        text-decoration-thickness: 2px
        &::after
            display: inline-block !important
        &::hover
            text-decoration-color: var(--color-text)

// colored icons (footer, header)
header#document-header,
footer#document-footer
    .nav-level-1
        li.has-children span::after,
        .search-button::after
            color: var(--color-accent)
footer#document-footer,
.toc-cta,
.contacts-details
    li::after,
    a::after,
    button::after
        color: var(--color-accent)


// MIXINS
// purple pill for categories
@mixin purple-button
    @extend .btn
    @extend .button--small
    --btn-background: #{alphaColor($block-call-to-action-button-background, 0.1)}
    --btn-border: none
    --btn-color: var(--color-accent)
    --btn-min-width: auto
    --btn-small-padding: #{space(3)} #{$spacing-2} #{$spacing-1}
    --btn-hover-background: #{alphaColor($block-call-to-action-button-background, 0.2)}
    --btn-hover-border: none
    --btn-hover-color: var(--color-accent)
    text-decoration: none !important