

\:root
    @include media-breakpoint-up(desktop)
        body:not(.full-width)
            --heading-margin-bottom: #{$spacing-5}


// header
header#document-header
    .menu
        // link as button for 'adhérer'
        a[href="/fr/adherer/"]
            @extend .btn
            @extend .button--accent
            --btn-min-width: 0
        .nav-level-2 li 
            a
                @include icon(arrow-right-line, after, true)
                    color: var(--color-accent)
                @include hover-translate-icon
    @include media-breakpoint-up(desktop)
        .menu
            margin-left: space(12)
            flex: 1
        .nav-level-1
            // nav horizontal spacings: 40px for left items, 24 for right ones
            li.has-children + li
                margin-left: space(10)
            li:where(:not(.has-children)) + li
                margin-left: space(6)
            li:nth-child(5)
                margin-left: auto
        .nav-level-2
            display: flex
            gap: space(6) var(--grid-gutter)
            flex-direction: column
            li + li
                margin-left: 0 !important
        // sticky menu behaviour
        html.has-menu-opened &,
        &.is-sticky
            a[href="/fr/adherer/"]
                &, &:hover
                    color: var(--btn-color)

// hero
.hero
    border-bottom: 2px solid $color-orange
    .content
        padding-top: $spacing-4
        hgroup.has-lead > p:first-of-type
            margin-top: $spacing-4
        .hero-actions > a
            --btn-border: 2px solid var(--color-accent)
            --btn-hover-background: #{alphaColor(var(--color-accent), 0.10)}
            --btn-hover-border: var(--btn-border)
        @include media-breakpoint-up(desktop)
            .hero-actions
                margin-top: $spacing-4

// footer
footer#document-footer 
    .footer-site div
        > * + *
            display: block
            margin-top: space()
    a:hover
        text-decoration: underline
        text-decoration-color: var(--color-accent)
    a::after
        display: inline-block

// toc
.toc-container
    @include in-page-with-sidebar
        border-top: none !important
        margin-left: 0
        .toc-content
            padding-left: var(--grid-gutter)
.toc-content
    nav
        a
            @include signature
            position: relative
            &::before
                content: ''
                width: 2px
                height: 100%
                position: absolute
                left: 0
                transform: translateX(space(-2))
            &.active::before
                background: var(--color-accent)

// breadcrumb
.breadcrumb-nav
    li[aria-current="page"]::before
        color: alphaColor(var(--color-accent), 0.8)

// pagination
.pagination
    li a
        line-height: pxToRem(44) !important
    li:not(.active, .disabled) a:hover
        background-color: alphaColor(var(--color-accent), 0.1)
    .active
        background-color: alphaColor(var(--color-accent), 0.2)
        a
            color: var(--color-text)
    @include media-breakpoint-up(desktop)
        margin-top: space(8)
        li:nth-child(2)
            margin-right: auto
        li:nth-last-child(2)
            margin-left: auto

// navigation
.block-siblings-navigation
    ul > li a
        span::before,
        span::after
            color: var(--color-accent)

// contact details
.contacts-details
    li a
        text-decoration-color: var(--color-accent)
        text-decoration-thickness: 2px
        &::after
            display: inline-block !important

// colored icons (footer, header)
header#document-header,
footer#document-footer
    .nav-level-1
        li.has-children span::after,
        .search-button::after
            color: var(--color-accent)
footer#document-footer,
.toc-cta,
.contacts-details
    li::after,
    a::after,
    button::after
        color: var(--color-accent)


// MIXINS
// purple pill for categories
@mixin purple-button
    @extend .btn
    @extend .button--small
    --btn-background: #{alphaColor($block-call-to-action-button-background, 0.1)}
    --btn-border: none
    --btn-color: var(--color-accent)
    --btn-min-width: auto
    --btn-small-padding: #{space(3)} #{$spacing-2} #{$spacing-1}
    --btn-hover-background: #{alphaColor($block-call-to-action-button-background, 0.2)}
    --btn-hover-border: none
    --btn-hover-color: var(--color-accent)
    text-decoration: none !important