<div itemscope="" itemtype="https://schema.org/Organization">
  <span itemprop="name">La 27e Région, à Oasis 21</span>
  <address itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
    <span itemprop="streetAddress">2 rue de la Clôture</span>
    <span itemprop="postalCode">75019</span> <span itemprop="addressLocality">Paris</span>
    <span itemprop="addressCountry" class="sr-only">FRANCE</span>
  </address>
    <a href="tel:++33183629827" itemprop="telephone" title="{{ i18n "commons.footer.address.phone_title"}}">+33 (0)1 83 62 98 27</a>
</div>